<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
        >
    <testsuites>
        <testsuite name="ApiTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="reports/coverage"/>
        <log type="coverage-clover" target="reports/logs/clover.xml"/>
        <log type="coverage-crap4j" target="reports/logs/crap4j.xml"/>
        <log type="junit" target="reports/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
