<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
        >
    <testsuites>
        <testsuite name="FormatterTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="reports/html" charset="UTF-8" />
    </logging>
</phpunit>
